<div class="container-fluid">	
<div class="row">
	<div class="col-md-3">
      <!--Sidebar content-->

    	 <h3>Search</h3>
			<div class="form-group">
			<label>Name</label>	
			<input class="form-control" ng-model="query.name"> 
    	  	<label>Advisor</label>	
    	  	<input class="form-control" ng-model="query.advisor">
    		</div>
    	  
		<h3>Fields</h3>
		<div class="btn-group-vertical">
			<button class="btn" ng-class="b(showMilestones)" ng-click="toggleShowMilestones()">Milestones</button>
			<button class="btn" ng-class="b(showPublications)" ng-click="toggleShowPublications()">Publications</button>	
			<button class="btn" ng-class="b(showCourses)" ng-click="toggleShowCourses()">Courses</button>
			<button class="btn" ng-class="b(showAwards)" ng-click="toggleShowAwards()">Awards</button>
		</div>
	</div>

	<div class="col-md-9">		

		<div class="panel panel-default" ng-repeat="student in students | filter:query ">        

			<div class="panel-body">
		
				<h3>{{student.info.name}} </h3>
				<span class="identitykey">{{student.info.identity_key}}</span> <br>
				
				Advisor: <span class="advisor">{{student.phd.advisor}}</span>


				<div class="panel panel-info" ng-show="showMilestones ">
					<div class="panel-heading">
						<h3 class="panel-title">Milestones <span class="badge">{{ student.phd.milestones.length }}</span></h3>			
					</div>
					<div class="panel-body">
						<table class="table">
							<tr><th>Milestone</th><th>Completed</th><th>Planned</th></tr>
							<tr ng-repeat="milestone in student.phd.milestones">
								<td>{{milestone.name}}</td>
								<td>{{milestone.completed}}</td>
								<td>{{milestone.planned}}</td>
							</tr>
						</table>						
					</div>
				</div>					

				<div class="panel panel-info" ng-show="showPublications">
				<div class="panel-heading">
					<h3 class="panel-title">Publications <span class="badge">{{ student.publications.length }}</span></h3>			
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="publication in student.publications">
							{{publication}}
						</li>
					</ul>
				</div>
				</div>				

				<div class="panel panel-info" ng-show="showCourses ">
					<div class="panel-heading">
						<h3 class="panel-title">Courses <span class="badge">{{ student.phd.courses.length }}</span></h3>			
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="course in student.phd.courses">
								{{course.title}}
							</li>
						</ul>
					</div>
				</div>		
							

				<div class="panel panel-info" ng-show="showAwards ">
					<div class="panel-heading">
						<h3 class="panel-title">Awards <span class="badge">{{ student.awards.length }}</span></h3>			
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="award in student.awards">
								{{award}}
							</li>
						</ul>
					</div>
				</div>		
			</div>				
		</div>
	</div>

</div>
</div>